/* -----------div tips------------- */

  .goals, .fyi, .sfu, .economics, .note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 1em 1em;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }

div.economics {
  background-image: url("bin/supplydemand2.png");
}

div.example {
    padding-left: 5px;
    background-color: #d8d8d8;
}

div.goals {
 background-image: url("bin/checklist.png");
}

div.fyi {
 background-image: url("bin/FYI.png");
}
div.sfu {
 background-image: url("bin/sfulogo-cropped.png");
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important;
}

