/* Base color scheme is:
Navy blue #002D62
Orange #EB6E1F
Light orange #F4911E
*/


/* -----------div tips------------- */

  .goals, .fyi, .sfu, .economics, .note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 1em 1em;
    min-height: 120px;
    color: #002D62; /* navy blue text */
    background-color: #ffffff; /* white background */
    border: solid 3px #002D62; /* navy blue border */
  }

div.economics {
  background-image: url("bin/supplydemand2.png");
}

div.example {
    padding-left: 5px;
    color: #75330a; /* dark orange text */
    background-color: #fafaff; /* very light blue background */
}

div.goals {
 background-image: url("bin/checklist.png");
}

div.fyi {
 background-image: url("bin/FYI.png");
}

div.sfu {
 background-image: url("bin/sfulogo-cropped.png");
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

/*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: serif;
  color: #002D62; /* navy blue text */
}

.title {
  font-family: 'DIN Pro', sans-serif;
  font-size: 3em ;
  color: #EB6E1F; /* orange text */
 }

.subtitle {
  font-family: serif;
  color: #F4911E; /* light orange text */
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important;
}


li.appendix span, li.part span { /* for TOC part names */
  margin-top: 1em;
  color: color: #1c3046 !important; /* very dark blue text */
  opacity: 1 !important;
  text-transform: uppercase;
}
