/* -----------div tips------------- */

  .goals, .fyi, .economics, .note {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 1em 1em;
    min-height: 120px;
    color: #1f5386;
    background-color: #bed3ec;
    border: solid 5px #dfedff;
  }

div.economics {
  background-image: url("bin/supply and demand.png");
}

div.example {
    padding-left: 5px;
    background-color: #d8d8d8;
}

div.goals {
 background-image: url("bin/checklist.png");
}

div.fyi {
 background-image: url("bin/FYI.png");
}
